<div class="d-inline-flex justify-content-center align-items-center">
  <img
    src="assets/images/logo_large.png"
    height="114"
    width="159"
    alt="Ares"
    title="Ares"
  />
</div>

<div class="card">
  <div class="card-body p-4 d-flex flex-column">
    <h3 class="d-inline-flex justify-content-center">User Control Panel</h3>

    <form [formGroup]="authForm" (submit)="onSubmit()" class="mt-3">
      <div class="mb-3">
        <label for="username">Benutzername</label>
        <input
          type="text"
          id="username"
          formControlName="username"
          class="form-control p-4"
          autocomplete="current-username"
          required
          autofocus
        />
      </div>

      <div class="mb-3">
        <label for="password">Passwort</label>
        <input
          type="password"
          id="password"
          formControlName="password"
          class="form-control p-4"
          autocomplete="current-password"
          required
          autofocus
        />
      </div>

      <button class="btn btn-danger float-right">Anmelden</button>
    </form>
  </div>
</div>
