@import "./variables.scss";
@import "./inputs.scss";
@import "~@ghnacker/icon-ionicons/ionicons";
@import "@fontsource/open-sans";
@import "@fontsource/raleway";
@import "~bootstrap/scss/bootstrap";
@import "~notyf/notyf.min.css";

html {
  body {
    height: 100vh;
    width: 100vw;
    font-family: "Raleway", "Open Sans", sans-serif;
  }
}

.with--bg {
  background: url(../assets/images/bg.png) no-repeat 50% fixed !important;
  height: 100vh;
  width: 100vw;
  filter: blur(8px);
  position: absolute;
  z-index: -1;
}

.ares--logo {
  background-image: url("../assets/images/logo.png");
  background-repeat: no-repeat;
  height: 64px;
  width: 64px;
}

.cursor-pointer {
  cursor: pointer;
}
