<ul class="nav flex-column align-items-center">
  <li class="nav-item my-3 nav--logo">
    <div class="ares--logo"></div>
  </li>

  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"
      >Disabled</a
    >
  </li>

  <li class="nav-item mt-auto mb-3">
    <a class="nav-link" routerLink="">Abmelden</a>
  </li>
</ul>
